<!DOCTYPE html ng-app>
<html>

<head>
	<title>makan di Monas</title>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/material/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/material/css/ripples.min.css">
	<link rel="stylesheet" href="/font-material/material-icons.css">
	<link rel="stylesheet" href="/chartist/chartist.min.css">
	<link rel="stylesheet" href="/quill/quill.core.css">
	<link rel="stylesheet" href="/quill/quill.bubble.css">
	<link rel="stylesheet" href="/quill/quill.snow.css">
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">




</head>

<body>
	<div id="navbarpro" class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
        </button>
				<a class="navbar-brand" href="/"> Dashboard Admin 
           
        <div class="ripple-container">            
          </div>         
          </a>
			</div>
			<div class="navbar-collapse navbar-inverse-collapse collapse">
				<form class="navbar-form navbar-left ">
					<!--<div class="form-group">
                <button class="btn btn-raised" type="sumbit">Cari</button>              
              </div>-->
				</form>
				<ul class="nav-drop nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" data-target="dropdown" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-spin fa-fw fa-lg"></i>
Login : {{nama}} <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li><a href="/keluar-admin">Log Out   </a></li>
							<li class="divider"></li>
							<li><a href="#">Bantuan  </a> </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="nav-side-menu">
		<div class="brand">
			IBI Darmajaya </div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
				<li>
					<a style="display: block;" href="/dashboard">
						<i class="fa fa-user-circle fa-lg"></i>Daftar Praktikan
					</a>
				</li>

				<li data-toggle="collapse" data-target="#data">
					<a href="#"><i class="fa fa-book fa-lg"></i>List Materi Laboratorium <span class="arrow"></span></a>
				</li>




				<ul class="sub-menu collapse" id="data">
					<li class="active"><a href="/soal-java"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembelajaran Java</a></li>
					<li class="active"><a href="/admin/dashboard/lunas"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembelajaran Javascript</a></li>
					<li class="active"><a href="/admin/dashboard/belum-lunas"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembelajaran C++</a></li>
					<li class="active"><a href="/admin/dashboard/waiting-list"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembelajaran Python</a></li>
					<li class="active"><a href="/admin/dashboard/waiting-list"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembelajaran C#</a></li>
				</ul>
				<li data-toggle="collapse" data-target="#dataVideo">
					<a style="display: block;" href="#">
						<i class="fa fa-book fa-lg"></i>List Materi Video Laboratorium <span class="arrow"></span>
					</a>
				</li>
				<ul class="sub-menu collapse" id="dataVideo">
					<li class="active"><a href="/video-java"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Video Pembelajaran Java</a></li>
					<li class="active"><a href="/video-java"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Video Pembelajaran Javascript</a></li>
					<li class="active"><a href="/admin/dashboard/belum-lunas"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Video Pembelajaran C++</a></li>
					<li class="active"><a href="/admin/dashboard/waiting-list"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Video Pembelajaran Python</a></li>
					<li class="active"><a href="/admin/dashboard/waiting-list"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Video Pembelajaran C#</a></li>
				</ul>

				<li>
					<a style="display: block;" href="/admin/dashboard/kotak-validasi">
						<i class="fa fa-envelope fa-lg"></i>Kotak Saran
					</a>
				</li>
			</ul>
		</div>
	</div>
	</div>