{{>headerAdmin}}
<div style="margin-top:30px;" class="table-users col-md-10 col-md-offset-2 container">
    <div style="margin-top: 70px; height: 600px;" class="page-header text-center well">
        <div class="col-md-12 ">
            <div class="col-md-13">
                <h1 class="judul">Video Java </h1>
                <hr class="Garistema">
            </div>
            <div class="col-md-7">
                
                <video width="500" height="350" controls>
                    <source src="/video/java.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>

            </div>
        </div>
        <div style="font-size: 3px;" class="bs-component">
            
        </div>
    </div>
    <div class="col-md-offset-10">
        <a class="btn btn-raised btn-primary" href="/add-soal">Tambah Soal</a>
    </div>
</div>
</div>
</body>
</html>
{{>footer}}
<script>
</script>